.title{
    color: black;
    font-style: normal;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}