<my-people>
    <div class="random-text">
        <h4>This is some awesome info about people</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna sapien, auctor sit amet velit et, dignissim bibendum dolor. Ut id erat tortor. Suspendisse consequat nulla magna, eget commodo tortor tincidunt a. In mattis justo ac enim scelerisque, quis vestibulum libero auctor. Pellentesque consectetur tellus eget velit cursus hendrerit. In dapibus neque vel malesuada vulputate. Proin est dui, feugiat quis dignissim vel, commodo vel magna. In hac habitasse platea dictumst. Praesent ac vestibulum massa. Etiam eget odio ipsum. Suspendisse et massa sed velit rutrum euismod tincidunt non mauris.
        </p>
    </div>
</my-people>